{% extends 'header1.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
  
</head>
<body>
	<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
		<div class="container">
			<div class="form-box">
				<div class="form-tab">
					<ul class="nav nav-pills nav-fill" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Sign In</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="false">Register</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							{% if msg1 %}
						<div class="alert alert-danger alert-dismissible fade show">
							<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
							<strong>Error!</strong>{{ msg1 }}
						</div>
						{% endif %}
						{% if msg %}
						<div class="alert alert-success alert-dismissible fade show">
							<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
							<strong>Success</strong>{{ msg }}
						</div>
						{% endif %}
							<form action="{% url 'login' %}" method="post">
								{% csrf_token %}
								<div class="form-group">
									<label for="email">Email address *</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div><!-- End .form-group -->

								<div class="form-group">
									<label for="password">Password *</label>
									<input type="password" class="form-control" id="password" name="password" required>
								</div><!-- End .form-group -->

								<div class="form-footer">
									<button type="submit" class="btn btn-outline-primary-2">
										<span>LOG IN</span>
										<i class="icon-long-arrow-right"></i>
									</button>

									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="signin-remember-2">
										<label class="custom-control-label" for="signin-remember-2">Remember Me</label>
									</div><!-- End .custom-checkbox -->

									<a href="{% url 'forgot_password' %}" class="forgot-link">Forgot Your Password?</a>
								</div><!-- End .form-footer -->
							</form>
							<div class="form-choice">
								<p class="text-center">or sign in with</p>
								<div class="row">
									<div class="col-sm-6">
										<a href="#" class="btn btn-login btn-g">
											<i class="icon-google"></i>
											Login With Google
										</a>
									</div><!-- End .col-6 -->
									<div class="col-sm-6">
										<a href="#" class="btn btn-login btn-f">
											<i class="icon-facebook-f"></i>
											Login With Facebook
										</a>
									</div><!-- End .col-6 -->
								</div><!-- End .row -->
							</div><!-- End .form-choice -->
							<div class="form-choice">
								<br>
								<p class="text-center"> <a href="{% url 'seller_register'%}">or Wanna sell on StyleSphere</a></p>
								

							</div><!-- End .form-choice -->
						</div><!-- .End .tab-pane -->
						<div class="tab-pane fade" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							{% if msg1 %}
							<div class="alert alert-danger alert-dismissible fade show">
								<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
								<strong>Error!</strong>{{ msg1 }}
							</div>
							{% endif %}
							{% if msg %}
							<div class="alert alert-success alert-dismissible fade show">
								<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
								<strong>Success</strong>{{ msg }}
							</div>
							{% endif %}
							<form action="{% url 'register' %}" method="post">
								{% csrf_token %}
								<div class="form-group">
									<label for="email">Your email address *</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div><!-- End .form-group -->
								<div class="form-group">
									<label for="username">Your Username *</label>
									<input type="text" class="form-control" id="username" name="username" required>
								</div><!-- End .form-group -->
								<div class="form-group">
									<label for="mobile">Your Mobile *</label>
									<input type="tel" class="form-control" id="mobile" name="mobile" minlength="10" required>
								</div><!-- End .form-group -->

								<div class="form-group">
									<label for="password">Password *</label>
									<input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="16" required>
								</div><!-- End .form-group -->
								<div class="form-group">
									<label for="cpassword">Re-enter Password *</label>
									<input type="text" class="form-control" id="cpassword" name="cpassword" required>
								</div><!-- End .form-group -->

								<div class="form-footer">
									<button type="submit" class="btn btn-outline-primary-2">
										<span>SIGN UP</span>
										<i class="icon-long-arrow-right"></i>
									</button>

									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
										<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
									</div><!-- End .custom-checkbox -->
								</div><!-- End .form-footer -->
							</form>
							<div class="form-choice">
								<p class="text-center">or sign in with</p>
								<div class="row">
									<div class="col-sm-6">
										<a href="#" class="btn btn-login btn-g">
											<i class="icon-google"></i>
											Login With Google
										</a>
									</div><!-- End .col-6 -->
									<div class="col-sm-6">
										<a href="#" class="btn btn-login  btn-f">
											<i class="icon-facebook-f"></i>
											Login With Facebook
										</a>
									</div><!-- End .col-6 -->
								</div><!-- End .row -->
							</div><!-- End .form-choice -->
						</div><!-- .End .tab-pane -->
					</div><!-- End .tab-content -->
				</div><!-- End .form-tab -->
			</div><!-- End .form-box -->
		</div><!-- End .container -->
	</div><!-- End .login-page section-bg -->
</main><!-- End .main -->

</body>
</html>
{% endblock%}

