{% extends 'seller_header.html'%}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">


<!-- molla/index-18.html  22 Nov 2019 10:00:41 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StyleSphere</title>
   
</head>

<body>
    <main class="main">
        <div class="intro-slider-container mb-3 mb-lg-5">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"dots": true, "nav": false}'>
                <div class="intro-slide" style="background-image: url(/static/assets/images/demos/demo-18/slider/slide-1.jpg);">
                    <div class="container">
                        <div class="intro-content text-center">
                            <h3 class="intro-subtitle cross-txt text-primary">Welcome Seller</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white"></h1><!-- End .intro-title -->
                            <div class="intro-text text-white"></div><!-- End .intro-text -->
                            <div class="intro-action cross-txt">
                                <a href="category.html" class="btn btn-outline-white">
                                    <span>Discover More</span>
                                </a>
                            </div>
                        </div>
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->

</body>
</html>
{% endblock %}